.main-container__footer {
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    color: #A0A0A0;
    line-height: 20px;
    font-size: 14px;
    width: 1280px;
    margin: 10px auto;
  }
  .main-container__footer.b {
    font-size: 16px;
  }
  .footer_head {
    position: relative;
    bottom: 6px;
    left: 3px;
  }
  .footer_bottom {
    padding-left: 30px;
  }