.main-container {
    max-width: 1280px;
    margin: 0px auto;
}

.main-container__content {
    background-color: white;
    border-top: 2px solid #1E79BE;
    box-sizing: border-box;
    color: #333333;
    display: block;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    height: 624px;
    margin: 20px 0px;
    padding: 45px 45px 50px 45px;
    position: relative;
    width: auto;
    min-width: 810px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.main-container__content p {
    margin: 0;
}

.main-container__content--back-link {
    color: #3072C4;
    text-decoration: none;
}

.main-container__content--back-link:hover {
    color: #5BC8ED;
}

.main-container__content--back-link:focus {
    border: dashed 1px black;
}

.main-container__content--hr {
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 13px 0 25px 0;
    width: 100%;
}

.main-container__content--address {
    font-size: 22px;
    height: 70px;
}

.main-container__content--room-chr {
    font-weight: normal;
    height: 120px;
    line-height: 25px;
    margin-bottom: 24px;
    margin-top: 5px;
}

.main-container__content--room-chr p {
    line-height: 25px;
    margin-top: 10px
}

.main-container__content--room-chr .coords {
    color: darkgray;
}

.main-container__content--checkbox-group__item {
    margin-bottom: 26px;
    position: relative;
}

.main-container__content--checkbox-group__item .input {
    height: 16px;
    width: 16px;
}

.container__custom-checkbox .checkmark {
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.container__custom-checkbox .input {
    display: none;
}

.container__custom-checkbox .input:checked+.checkmark {
    background: #1D85D0;
    border: 0;
}

.container__custom-checkbox .input:checked:hover+.checkmark {
    background: #3072C4;
    border: 0;
}

.container__custom-checkbox .input:checked+.checkmark img {
    opacity: 1;
}

.container__custom-checkbox .checkmark:hover {
    background: rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
}

.container__custom-checkbox .checkmark img {
    position: absolute;
    height: 12px;
    width: 14px;
    opacity: 0;
    left: 0;
    top: 0;
    margin: 2px 1px;
}

.main-container__content--checkbox-group__item .header {
    display: inline-block;
    margin-left: 9px;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.main-container__content--checkbox-group__item .header:hover {
    color: #5BC8ED;
}

.main-container__content--checkbox-group__item .description {
    color: darkgray;
    margin-left: 26px;
}

.main-container__content .button {
    background: #1E79BE;
    border-color: #1E79BE;
    border-radius: 1px;
    border-width: 0;
    color: white;
    height: 42px;
    width: 172px;
    position: absolute;
    bottom: 50px;
}

.main-container__content .button:hover {
    background: #3072C4;
    border-color: #3072C4;
    cursor: pointer;
}

.main-container__content .button:focus {
    border: dashed 1px black;
    outline: none;
}