.main-nav {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 20px;
    position: relative;
    z-index:1;
  }
  .main-nav ul.menu {
    margin: 0px auto 0px auto;
    padding: 0px;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
  }
  .main-nav li {
    list-style: none;
  }
  ul.menu > li {
    padding: 9px 16px 15px 16px;
  }
  ul.menu > li:nth-last-child(1) {
    position: relative;
  }
  ul.menu > li:nth-last-child(1)::before {
    content: "";
    display: block;
    height: 25px;
    width: 1px;
    background-color: #E5E5E5;
    position: absolute;
    left: 0px;
  }
  ul.menu-help {
    position: absolute;
    transform: translate(-15px, 15px);
    background-color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
    padding: 0px;
    margin: 0px;
    visibility: hidden;
    padding: 5px 0px;
  }
  ul.menu li:nth-child(2):hover ul.menu-help,
  ul.menu li:nth-child(1):hover ul.menu-ordering{
    visibility: visible;
  }
  ul.menu-help li {
    padding: 5px 50px 5px 15px;
  }
  ul.menu-ordering {
    position: absolute;
    transform: translate(-15px, 15px);
    background-color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
    padding: 0px 0px 0px 0px;
    margin: 0px;
    visibility: hidden;
  }
  .menu li:hover {
    background-color: #F2F2F2;
    cursor: pointer;
  }
  .menu-ordering li {
    padding: 5px 20px 8px 10px;
  }
  ul.menu-ordering li:nth-child(2),
  ul.menu-ordering li:nth-child(5) {
    margin-bottom: 5px;
  }
  li.non-active {
    font-size: 12px;
    color: #A0A0A0;
    border-top: solid 1px #F2F2F2;
    padding: 5px 10px 0px 10px;
  }
  .menu-help li.non-active {
    border-top: none;
    padding-bottom: 0px;
  }
  li.non-active:hover {
    cursor: auto;
    background-color: #FFF;
  }
  .menu li:not(.not-a-button):active {
    background-color: #E5E5E5;
  }
  .menu li > a,
  .main-lightbox a {
    text-decoration: none;
    color: black;
  }
  
.main-lightbox {
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;

  }
  .main-lightbox .window {
    position: absolute;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto;
    background-color: #FFF;
    width: 400px;
    height: 170px;
    border-radius: 2px;
  }
  #lightbox p {
    font-size: 16px;
    line-height: 20px;
    margin: 20px
  }
  .window > a {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;
  }
  .main-lightbox .window-bottom {
    width: 400px;
    height: 60px;
    background-color: #E5E5E5;
    position: absolute;
    bottom: 0;
  }
  #lightbox button {
    margin: 12px 20px;
    padding: 8px 12px;
    font-size: 12px;
    border: none;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
  }
  .main-lightbox .toggle {
    margin: 20px;
    display: flex;
  }
  .main-lightbox span {
    padding: 2px 10px;
    font-size: 14px;
  }
  .main-lightbox .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  .main-lightbox .switch input {
    opacity: 0;
  }
  .main-lightbox .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    border: 1px solid #808080;
  }
  .main-lightbox .slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: -1px;
    background-color: #F2F2F2;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid #808080;
  }
  .main-lightbox .slider:hover::before,
  #lightbox button:hover,
  #lightbox img:hover {
    background-color: #CECECE;
  }
  .main-lightbox input:checked + .slider {
    background-color: #3072C4;
  }
  .main-lightbox input:focus + .slider {
    box-shadow: 0 0 3px #000;
  }
  .main-lightbox input:checked + .slider::before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }
  .main-lightbox .slider {
    border-radius: 34px;
  }
  .main-lightbox .slider::before {
    border-radius: 50%;
  }
  
  #lightbox {
    display: none;
  }
  #lightbox:target {
    display: block;
  }